/*General*/
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #333333;
  -webkit-font-smoothing: antialiased;
}
.container {
  background: #eeeeee;
  padding: 10px;
}
.header-top {
  text-align: center;
  border-bottom: 2px solid;
  border-color: grey;
}

.header-nav li{
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
}

.header-nav {
  padding: 0;
}

footer {
  clear: both;
}

.article {
  margin-top: 20px;
}

time {
  float: right;
}

/*section {
  text-align: left;
  float: left;
}*/

/*Exercise 1- Simple HTML5*/
.sectionIndex {
  width: 800px;
  margin-right: 30px;
  float: left;
}

.asideIndex {
  float: right;
  width: 350px;
}


/*Mostly fluid*/
.bodyMostlyFluid {
  max-width:960px;
  margin:20px auto;
}
@media screen and (min-width: 750px) {
  .sectionMostlyFuid {
    width: 750px;
  }
}
.asideMostlyFuid {
  float: left;
  width: 210px;
}


/*Column drop*/
.bodyColumnDrop {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .mainSection {
    width: 600px;
    margin: 0 20px;
    float: left;
  }
  .leftSection {
    width: 400px;
    float: left;
  }
  .asideColumnDrop {
    float: right;
  }
}

@media screen and (min-width: 840px) and (max-width: 1200px) {
  .mainSection {
    width: 58%;
    margin: 0 1%;
    float: right;
  }
  .leftSection {
    width: 40%;
    float: left;
  }
  .asideColumnDrop {
    float: left;
    width: 100%;
  }
}

@media screen and (max-width: 840px){
   .mainSection {
    width: 100%;
    float: right;
  }
  .leftSection {
    width: 100%;
    float: right;
  }
  .asideColumnDrop {
    width: 100%;
  }
}

/*Layout shifter*/
.bodyLayoutShifter {
    margin: 0 auto;
  }

@media screen and (min-width: 960px){
  .bodyLayoutShifter {
    width: 960px;
  }
  .leftAside {
    float: left;
    width: 20%;
  }
  .firstSection, .secondSection {
    width: 30%;
    float: left;
  }
}

@media screen and (max-width: 960px) {
  .leftAside {
    width: 100%;
  }
  .firstSection, secondSection {
    width: 50%;
  }
}

/*Off canvas*/
.bodyOfffCanvas {
    margin: 0 auto;
  }

@media screen and (min-width: 960px){
}