/*General*/
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #eeeeee;
  color: #333333;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}

.header-top {
  text-align: center;
  border-bottom: 2px solid;
  border-color: grey;
}

.header-nav li{
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
}

.header-nav {
  padding: 0;
}

footer {
  clear: both;
}

.article {
  margin-top: 20px;
}

time {
  float: right;
}
section {
  text-align: left;
  float: left;
}

/*Exercise 1- Simple HTML5*/
.sectionIndex {
  width: 70%;
  margin-right: 30px;
}
.asideIndex {
  float: right;
  width: 25%
}

/*Mostly fluid*/
.bodyMostlyFluid {
  width: 960px;
}
.sectionMostlyFuid {
  width: 730px;
}
.asideMostlyFuid {
  float: left;
  width: 210px;
}